backend/medcloud/testapp/__pycache__/views.cpython-311.pyc
backend/medcloud/Doctor/__pycache__/__init__.cpython-311.pyc
backend/medcloud/Doctor/__pycache__/urls.cpython-311.pyc
backend/medcloud/Doctor/__pycache__/views.cpython-311.pyc
backend/medcloud/medcloud/__pycache__/settings.cpython-311.pyc
backend/medcloud/medcloud/__pycache__/urls.cpython-311.pyc
backend/medcloud/testapp/__pycache__/views.cpython-311.pyc
backend/Lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-311.pyc
*.pyc
backend/medcloud/Doctor/views.py
backend/medcloud/Doctor/migrations/0001_initial.py
frontend/node_modules
backend/medcloud/db.sqlite3
.gitignore
backend/medcloud/Patient/migrations/__init__.py
backend/medcloud/Patient/migrations/0001_initial.py
backend/medcloud/db.sqlite3
backend/medcloud/Patient/__init__.py
backend/medcloud/db.sqlite3
backend/medcloud/db.sqlite3
backend/medcloud/db.sqlite3
backend/medcloud/db.sqlite3
backend/medcloud/db.sqlite3
