backend/medcloud/testapp/__pycache__/views.cpython-311.pyc
backend/medcloud/Doctor/__pycache__/__init__.cpython-311.pyc
backend/medcloud/Doctor/__pycache__/urls.cpython-311.pyc
backend/medcloud/Doctor/__pycache__/views.cpython-311.pyc
backend/medcloud/medcloud/__pycache__/settings.cpython-311.pyc
backend/medcloud/medcloud/__pycache__/urls.cpython-311.pyc
backend/medcloud/testapp/__pycache__/views.cpython-311.pyc
