.edit-icon {
  background-color: var(--primary-color-normal) !important;
  color: white !important;
}

.delete-icon {
  background-color: var(--red-color-normal) !important;
  color: white !important;
}
